Flask>=3.0.0
Flask-SQLAlchemy>=3.1.0
Flask-Login>=0.6.3
Flask-Migrate>=4.0.0
mariadb>=1.1.0
Werkzeug>=3.0.0
Jinja2>=3.1.0
SQLAlchemy>=2.0.0
python-pptx>=1.0.2
Pillow>=12.0.0
python-dotenv>=1.2.3
sqlalchemy_utils