<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio de sesion</title>
</head>
<body>
    <form action="/" method="post">
        <div>
            <input type="email" id="correo" name="correo" placeholder="Enter email">
            <input type="password" id="contraseña" name="contraseña" placeholder="Enter password">
            <button id="submitButton">Submit</button>
            <a href="/registro">Registro</a>

        </div>
</form>
</body>
</html>